<div class="content">
    <form id="addBlog">
        <h3>Title</h3>
        <input type="text" id="blog-title">
        <h3>Content</h3>
        <input type="textarea" id="blog-content">
        <button type="submit">Add Post</button>
    </form>
</div>

<script src="/js/addBlog.js"></script>