<div id="blogContent">
    <div>
        <h2 class="contentTitle"><span>Blog Posts</span></h2>
    </div>
    <div id="blogInterface">
        {{#each blogs as |blog|}}
        <div class="blogCard" id={{id}}>
            <h3>{{blog.title}}</h3>
            <h5>Created by {{blog.user.username}}</h5>
            <p>{{blog.content}}</p>
        </div>
        {{/each}}
    </div>
    <div>
        <button>Add a Blog Post</button>
    </div>
</div>

<script src="/js/selectBlogs.js"></script>