<div class="content">
    <h2>Login Here</h2>
    <form id="login-form">
        <h3>Email</h3>
        <input type="email" id="email-login">
        <h3>Password</h3>
        <input type="text" id="password-login">
        <button type="submit">Log In</button>
    </form>

    <a href="/signup">Sign Up Here</a>
</div>

<script src="/js/login.js"></script>