<div class="content">
    <h2>Sign Up Here</h2>
    <form id="signup-form">
        <h3>Username</h3>
        <input type="text" id="username-signup">
        <h3>Email</h3>
        <input type="email" id="email-signup">
        <h3>Password</h3>
        <input type="text" id="password-signup">
        <button type="submit">Submit</button>
    </form>
    
</div>

<script src="/js/signup.js"></script>