

body{
    width: 100vw;
    padding: 0px;
    background-color: #fef7f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    background-color: #A5A58D;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;

}

#blogHeader{
    background-color: #DDBEA9;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#blogHeader>h1{
    justify-self: flex-start;
}

nav{
    justify-self: flex-end;
}
nav>ul{
    list-style: none;
    display: flex;
}
nav>ul>a{
    margin: 20px;
    color: black;
    text-decoration: none;
}

.contentTitle{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.contentTitle > span{
    background: #fef7f2;
    padding: 0 10px;
}

.content{
    width: 100vw;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#blogInterface{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#addBlog{
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#blog-content-box{
    height: 100px;
}

.blogCard{
    width: 70vw;
    background-color: #cdcdc4;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
}

.blogCard > button{
    margin: 5px;
    font-size: 12px;
    float: right;
}

.comment-card{
    width: 50vw;
    background-color: #cdcdc4;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
}

#commentInterface{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#commentInterface > input{
    width: 70%;
    height: 40px;
}

#commentInterface > button{
    width: 25%;
    font-size: 15px;
    height: 40px;
    margin: 5px;
}

.commentContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.commentContent > h4{
    margin-right: 20px;
}

#login-form, #signup-form{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#login-form > input{
    height: 20px;
}